<ion-content [fullscreen]="true">
  <div class="cont">
    <div class="loginCont">
      <h2>Accedi al Blocco Note</h2>
      <div class="form">
        <div class="valCont">
          <label>Email</label>
          <input type="email" [(ngModel)]="email" placeholder="cognome.nome@franchettisalviani.net" required>
        </div>
        <div class="valCont">
          <label>Password</label>
          <input type="password" [(ngModel)]="password" name="password" placeholder="Inserisci Password" required>
        </div>
        <button (click)="login()">Accedi</button>
      </div>
    </div>
  </div>
</ion-content>