<ion-content [fullscreen]="true">
  <div class="cont">
    <div class="loginCont">
      <h2>Accedi al Blocco Note</h2>
      <form method="POST">
        <div class="valCont">
          <label>Email</label>
          <input type="email" name="email" placeholder="cognome.nome@franchettisalviani.net" required>
        </div>
        <div class="valCont">
          <label>Password</label>
          <input type="password" name="password" placeholder="Inserisci Password" required>
        </div>
        <button type="submit">Accedi</button>
      </form>
    </div>
  </div>
</ion-content>