<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blocco Note
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="notes-container">
    <!-- Mettete tra i tag html il nome che avete scritto nel selector del 
    .component.ts del componente.
  
    I valori che passate a title e content compariranno nella nota (vedi note.component.ts)
  -->
    <app-note title="Il mio titolo!" content="Questa è la mia prima nota d'esempio!" />

    <app-note title="Fratini The Best!" content="Questa è un'altra nota!" />
  </div>
</ion-content>