<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blocco Note
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="notes-container">
    <!-- Mettete tra i tag html il nome che avete scritto nel selector del 
    .component.ts del componente.
  
    I valori che passate a title e content compariranno nella nota (vedi note.component.ts)
  -->
    <app-note title="Il mio titolo!" content="Questa è la mia prima nota d'esempio!"
      (noteClicked)="handleNoteClick($event)" />

    <!-- Questo è un esempio di for: numeroNote è un array nel .ts della home page,
        quindi esso stampa il componente <app-note> in base a quanti elementi ha l'array 
          Il valore track è utilizzato come chiave per associare gli elementi dell'array
          alla vista nella pagina
        -->
    @for (note of numeroNote; track note) {
    <app-note id="{{note}}" title="{{note}}) Fratini The Best!" content="Questa è un'altra nota!" />
    }
  </div>
</ion-content>