.note-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border: 2px solid #00C6CF;
    padding: 15px;
    top: 20px;
    left: 20px;
    width: 300px;
    height: 150px;
    gap: 10px;
    border-radius: 20px;
    background-color: var(--note-background);
    cursor: pointer;
}

.note-container h3 {
    font-weight: bold;
}