.note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #00C6CF;
    padding: 15px;
    gap: 10px;
    border-radius: 20px;
    background-color: var(--note-background);
    cursor: pointer;
}

.note h3 {
    margin: 0;
    font-weight: bold;
}